<div class="nicdark_preloader"><img src="assets/img/loading.gif" alt=""></div>
<!-- preloader -->
<div style="" class="nicdark_site">
    <div class="nicdark_site_fullwidth_boxed nicdark_site_fullwidth nicdark_clearfix">
        <div class="nicdark_overlay"></div>
        <!--start header Navigation-->
        <app-header></app-header>
        <!--start header parallax image-->
        <div class="nicdark_space130"></div>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
<modal #warning class="modal fade small-modal in">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Lưu ý</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            {{ warningMsg }}
        </section>
        <section class="g-button clearfix text-center">
            <div class="h20px"></div>
            <button class="btn btn-default btn-style btn-find-again" (click)="onSearchAgain()"><i class="fa fa-repeat"></i>&nbsp; Tìm kiếm lại</button>&nbsp;
            <button class="btn btn-default btn-style btn-go-home" (click)="onGoHome()"><i class="fa fa-long-arrow-left"></i>&nbsp; Về trang chủ</button>
        </section>
    </modal-body>
</modal>
