<div style="float:left; width:100%;" id="post-32" class="post-32 page type-page status-publish hentry">
    <section class="intro">
        <div class="container clearfix">
            <div class="intro-inner">
                <div class="intro-who">
                    <h1 class="intro-title">BALO TRAVEL là ai ?</h1>
                    <div class="intro-who-inner clearfix">
                        <img src="assets/img/balo.png" alt="">
                        <p>Chúng tôi là nhà cung cấp dịch vụ du lịch hàng đầu Việt Nam. Hệ thống <strong>DATVESIEURE</strong> được ra đời với sứ mệnh trở thành đơn vị tiên phong tại Việt Nam của Balo Travel, chuyên cung cấp vé tham quan giá rẻ, vé máy bay, tàu xe, tour ngắn ngày, phương tiện di chuyển cho các địa điểm toàn Đông Nam Á và trên thế giới.</p>
                    </div>
                </div>
                <div class="intro-services">
                    <h2 class="intro-title">DỊCH VỤ CỦA DATVESIEURE</h2>
                    <div class="intro-services-inner clearfix">
                        <div class="item">
                            <div class="item-inner">
                                <img src="assets/img/_plane.jpg" alt="">
                                <div>
                                    <h3>
                          Đại lý cấp 1 chính thức của các hãng hàng không tại Việt Nam và châu Á
                        </h3>
                                    <p>
                                        cung cấp vé máy bay giá rẻ các chặng nội địa và quốc tế.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="assets/img/egypt.jpg" alt="">
                                <div>
                                    <h3>
                        Vé tham quan
                      </h3>
                                    <p>
                                        Chúng tôi là đối tác lớn cung cấp vé tham quan giá rẻ các khu du lịch tại Singapore và toàn châu Á, mang đến cho khách hàng trải nghiệm tuyệt vời nhất với mức giá hấp dẫn nhất.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="assets/img/machu_picchu.jpg" alt="">
                                <div>
                                    <h3>
                      Tour du lịch ngắn ngày/city tour
                    </h3>
                                    <p>Nhà tổ chức tour chuyên nghiệp tại Việt Nam chuyên cung cấp các tour du lịch đáp ứng mọi yêu cầu của khách hàng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-why">
                    <h2 class="intro-title">TẠI SAO CHỌN BALO TRAVEL ?</h2>
                    <div class="intro-why-inner clearfix">
                        <div class="item">
                            <div>
                                <img src="assets/img/principle-hover-01.png" alt="">
                            </div>
                            <h3 class="intro-sub-title">Trung thực</h3>
                            <p>Cung cấp thông tin chính xác, chi tiết về sản phẩm, tư vấn lịch trình và giá cả hợp lý phù hợp với nhu cầu cho mỗi đối tượng khách hàng. </p>
                        </div>
                        <div class="item">
                            <div>
                                <img src="assets/img/principle-hover-04.png" alt="">
                            </div>
                            <h3 class="intro-sub-title">Tin tưởng</h3>
                            <p>Balo Travel hoạt động freelance từ năm 2013 và thành lập doanh nghiệp từ 2015 đến nay với một số lượng khách hàng ổn định vì chúng tôi cung cấp cho khách hàng những sản phẩm tốt nhất với giá cả phù hợp nhất cùng dịch vụ chăm sóc hoàn hảo nhất.</p>
                        </div>
                        <div class="item">
                            <div>
                                <img src="assets/img/principle-hover-03.png" alt="">
                            </div>
                            <h3 class="intro-sub-title">Thuận tiện</h3>
                            <p>Quý khách hàng khi mua sản phẩm từ chúng tôi sẽ được tư vấn một cách nhiệt tình nhất để đảm bảo chuyến đi sẽ trọn vẹn nhất.</p>
                        </div>
                        <div class="item">
                            <div>
                                <img src="assets/img/principle-hover-02.png" alt="">
                            </div>
                            <h3 class="intro-sub-title">Tiết kiệm</h3>
                            <p>Giá sản phẩm đã được chiết khấu cực kì hấp dẫn và luôn đi kèm những chương trình khuyến mại đặc biệt. Quý khách hàng mua sản phẩm từ Balo Travel và hệ thống DATVESIEURE sẽ tiết kiệm được rất nhiều thời gian, chi phí so với việc mua trực tiếp tại điểm đến.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="skyline hidden-xs hidden-sm">
        <!-- <script src="js/prefixfree.min.js"></script> -->
        <div class="skyline-city"></div>
        <div class="bus-img">
            <img style="opacity: 0.3;filter: alpha(opacity=30);" src="assets/img/banh-xe.gif">
        </div>
        <div class="plane-img">
            <img src="assets/img/plane.png" alt="" style="width: 250px;">
        </div>
    </div>
</div>
