<!--START RIGHT SIDEBAR OPEN-->
<div class="nicdark_right_sidebar nicdark_bg_greydark nicdark_nicescrool nicdark_dark_widgets">
    <a style="z-index:9;" class="nicdark_right_sidebar_btn_close nicdark_btn_icon small white nicdark_absolute_right10"><i class="icon-cancel"></i></a>
    <!--start widgets-->
    <div class="nicdark_margin020">
        <div id="woocommerce_widget_cart-2" class="widget woocommerce widget_shopping_cart">
            <h2>GIỎ HÀNG</h2>
            <div class="widget_shopping_cart_content">
                <ul class="cart_list product_list_widget ">
                    <li>
                        <a href="#">
                            <img width="90" height="90" src="img/bb.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">Combo vé bảo tàng tượng sáp Madame Tussauds</a>
                        <span class="quantity">1 × <span class="amount">1.000.000 VNĐ</span></span>
                    </li>
                    <li>
                        <a href="#">
                            <img width="90" height="90" src="img/bb.jpg" class="attachment-shop_thumbnail wp-post-image" alt="">Combo vé bảo tàng tượng sáp Madame Tussauds</a>
                        <span class="quantity">1 × <span class="amount">1.000.000 VNĐ</span></span>
                    </li>
                </ul>
                <!-- end product list -->
                <p class="total"><strong>Tổng :</strong> <span class="amount">1.000.000 VNĐ</span></p>
                <p class="buttons">
                    <a href="#" class="button wc-forward">Vào Giỏ Hàng</a>
                    <a href="#" class="button checkout wc-forward">Thanh Toán</a>
                </p>
            </div>
        </div>
    </div>
    <!--end widgets-->
</div>
<!--END RIGHT SIDEBAR OPEN-->
<div class="nicdark_section nicdark_navigation nicdark_upper_level2">
    <!--decide fullwidth or boxed header-->
    <div class='nicdark_menu_fullwidth_boxed nicdark_menu_fullwidth'>
        <!--start top header-->
        <div class="nicdark_section nicdark_displaynone_responsive top-menu">
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_focus">
                        <h6 class="text-right">
                  <i class="icon-mail"></i> <a class="title" href="#">balotravelco@gmail.com</a>
                  <span class="greydark2 nicdark_marginright10 nicdark_marginleft10">|</span>
                  <i class="icon-phone"></i> <a class="title" href="tel:05113888408">+(0511) 38 88 408</a>
                </h6>
                    </div>
                </div>
            </div>
        </div>
        <!--end top header-->
        <!--decide gradient or not-->
        <div class="nicdark_space3 nicdark_bg_gradient"></div>
        <!--start header-->
        <div class="nicdark_bg_white nicdark_section nicdark_sizing">
            <!--start container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12 percentage">
                    <div class="nicdark_space20"></div>
                    <!--logo-->
                    <div class="nicdark_logo nicdark_marginleft10">
                        <a href="#"><img alt="" src="assets/img/logo.png"></a>
                    </div>
                    <a class="cart_anchor nicdark_btn_icon nicdark_right_sidebar_btn_open extrasmall right" style="display: block;">
                        <span class="item-number">2</span><i class="fa fa-shopping-cart"></i>
                    </a>
                    <!--end logo-->
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="menu">
                            <li class="menu-item">
                                <a [routerLink]=" ['./'] " [routerLinkActive]="['active']">Trang chủ</a>
                            </li>
                            <!-- <li class="menu-item">
                                <a [routerLink]=" ['./home'] " [routerLinkActive]="['active']">Đặt vé</a>
                            </li> -->
                            <li class="menu-item">
                                <a [routerLink]=" ['./introdution'] " [routerLinkActive]="['active']">Giới thiệu</a>
                            </li>
                            <!-- <li class="menu-item">
                                <a [routerLink]=" ['./detail'] ">Hướng dẫn</a>
                            </li> -->
                            <li class="menu-item">
                                <a [routerLink]=" ['./detail'] ">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nicdark_space20"></div>
                </div>
            </div>
            <!--end container-->
        </div>
        <!--end header-->
    </div>
</div>
