ng-select {
	background: #fff;
}

.tabset ul li a {
    background: #E6E1DA;
    color: #333;
    font-family: 'diavlo-book';
}

.tabset ul li.active a{
    background-image: url("../img/pattern_vang.svg");
    background-repeat: repeat;
    background-size: 250px;
    background-color: #F8F3E7;
    color: #333;
}