.nicdark_logo img {
    width: 220px;
    margin-top: -12px;
}

ng-select {
	background: #fff;
}

.tabset ul li a {
    background: #E6E1DA;
    color: #333;
    font-family: 'diavlo-book';
}

.tabset ul li.active a{
    background-image: url("../img/pattern_vang.svg");
    background-repeat: repeat;
    background-size: 250px;
    background-color: #F8F3E7;
    color: #333;
}

select-dropdown > div {
	z-index: 10 !important;
}

ng-select > div > div.single > div.clear, ng-select > div > div.single > div.toggle {
    width: 15px !important; font-size: 10px !important;
}

.has-error.form-control, .has-error.input-group {
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.datepicker-container .datepicker-calendar {
    top: 100% !important;
}

.datepicker-container {
    display: block !important;
    position: relative;
}

.datepicker-container .datepicker-input-container {
    display: block !important;
}

.datepicker-container .datepicker-input-container .datepicker-input {
    display: block !important;
    width: 100% !important;
    margin-right: 0px !important;
    outline: none;
    font-size: 14px;
    color: #000000;
    text-align: center;
    height: 30px !important;
    border: 1px solid #ddd !important;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 5px;
}