<section class="home-slider" >
	<div class="owl-carousel-home-slider owl-carousel-slider">
		<div class="item" *ngFor="let banner of bannerOptions">
			<img [src]="banner.img" alt="">
			<a class="sboxpurple text-center">
				<p class="lato size28 slim caps white">{{ banner.from }}</p><br/><br/>
				<p class="lato size60 slim caps white">{{ banner.to }}</p><br/>
				<p class="lato size20 normal caps white">{{ banner.between }}</p><br/>
				<p class="lato size40 slim uppercase yellow">{{ banner.price | number }} vnđ</p>
			</a>
		</div>
	</div>
</section>

<!-- slider  -->
