<!--#post-->
<div style="float:left; width:100%;" id="post-32" class="post-32 page type-page status-publish hentry">
    <!-- <section class="steps">
        <ul class="progressbar">
            <li class="active">Chọn tour</li>
            <li class="">Khách hàng</li>
            <li class="">Xác nhận & Thanh toán</li>
        </ul>
    </section> -->
    <section class="shopping-cart">
        <div class="container clearfix">
            <div class="shopping-cart-inner">
                <div class="shopping-cart-details">
                    <h1>GIỎ HÀNG</h1>
                    <div class="table-details">
                        <div class="table-responsive">
                            <table class="table table-bordered" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Vé tham quan</th>
                                        <th rowspan="2">Ngày</th>
                                        <th colspan="2">Giá</th>
                                        <th rowspan="2" style="min-width: 250px; width: 250px;">Số lượng</th>
                                        <th rowspan="2">Tổng</th>
                                        <th rowspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th>Người lớn</th>
                                        <th>Trẻ em</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="cartItems.length == 0">
                                        <td colspan="7">Your Cart is empty</td>
                                    </tr>
                                    <tr *ngFor="let item of cartItems; let i = index">
                                        <td>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><img src="{{imgPath + item.img}}" width="90" height="90"></td>
                                                        <td style="padding-left: 10px; text-align: left">
                                                            <a [routerLink]="['/detail-ticket', item.id]">{{ item.name }}</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <!--<div class="field">
                                                <ng2-datepicker name="departure" [options]="datepickerOptions[i]" [(ngModel)]="item.departure" required></ng2-datepicker>
                                            </div>-->
                                            <div class="input-group">
                                                <input type="text" class="form-control daterange-single">
                                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <span> {{ item.adult_fare | number }} VNĐ</span> 
                                        </td>
                                        <td>
                                            <span> {{ item.children_fare | number }} VNĐ</span> 
                                        </td>
                                        <td>
                                            <div class="tbl-select-people">
                                                <table>
                                                    <tr>
                                                        <td>Người lớn</td>
                                                        <td>
                                                            <a (click)="onMinusPeople(i,'number_adult')" class="minus-people pointer"><i class="fa fa-minus"></i></a>&nbsp;
                                                            <input type="text" class="input-quantity form-control" [(ngModel)]="item.number_adult">&nbsp;
                                                            <a (click)="onPlusPeople(i, 'number_adult')" class="add-people pointer"><i class="fa fa-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trẻ em</td>
                                                        <td>
                                                            <a (click)="onMinusPeople(i,'number_children')" class="pointer minus-people"><i class="fa fa-minus"></i></a>&nbsp;
                                                            <input type="text" class="input-quantity form-control" [(ngModel)]="item.number_children">&nbsp;
                                                            <a (click)="onPlusPeople(i, 'number_children')" class="pointer add-people"><i class="fa fa-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                        <td>{{ item.total | number}} VNĐ</td>
                                        <td>
                                            <a class="pointer" (click)="onRemoveTicket(i, item)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="shopping-cart-total text-right">
                        <!-- <p>Subtotal: <span>2.000.000 VNĐ</span></p>
                        <p>Shipping: <span>---</span></p>
                        <p>Thuế và phí: <span>200.000 VNĐ</span></p> -->
                        <p class="total-price">Total: <span> {{ sumPrice | number }} VNĐ</span></p>
                        <div class="g-button clearfix">
                            <div>
                                <a [routerLink]="['/list-tickets']" class="pointer" ><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Tiếp tục mua hàng</a></div>
                            <div>
                                <button type="btn" class="btn btn-checkout" (click)="onLinkToPaymentTicket()" [disabled]="!sumPrice">THANH TOÁN</button>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="skyline hidden-xs hidden-sm">
        <!-- <script src="js/prefixfree.min.js"></script> -->
        <div class="skyline-city"></div>
        <div class="bus-img">
            <img style="opacity: 0.3;filter: alpha(opacity=30);" src="img/banh-xe.gif">
        </div>
        <div class="plane-img">
            <img src="img/plane.png" alt="" style="width: 250px;">
        </div>
    </div>
</div>
<!--#post-->
