
<div class="modal-header">
  <h4 class="modal-title">Add New Comment</h4>
</div>
<div class="modal-body">
  <!-- <div class="row">
    <div class="col-md-12">


      <div class="row form-group">
        <div class="col-sm-3"> Full Name: </div>
        <div class="col-sm-9">
          <input type="text" ng-model="new_comment.full_name"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-3"> Content: </div>
        <div class="col-sm-9">
          <input type="text" ng-model="new_comment.content"/>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-3"> Status: </div>
        <div class="col-sm-9">
          <input type="text" ng-model="new_comment.status"/>
        </div>
      </div>

    </div>
  </div> -->


  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-model="new_comment.full_name">
          <label for="form_control_1">Full Name</label>

        </div>

        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-model="new_comment.content">
          <label for="form_control_1">Content</label>

        </div>

        <div class="form-group form-md-line-input form-md-floating-label">
          <input type="text" class="form-control" ng-model="new_comment.status">
          <label for="form_control_1">Status</label>

        </div>

        <div class="form-group form-md-line-input form-md-floating-label has-info">
          <select class="form-control edited" id="form_control_1">
            <option value=""></option>
            <option value="1" selected>Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
          </select>
          <label for="form_control_1">Dropdown sample</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label has-error">
          <input type="text" class="form-control" id="form_control_1">
          <label for="form_control_1">Error input</label>
        </div>

      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn default" data-dismiss="modal">Close</button>
  <button type="button" class="btn blue" ng-click="createComment()">Submit</button>
</div>