<div class="comment">
	<div class="section-title">Khách hàng nói về chúng tôi</div>
	<div class="border-title"></div>
	<div class="owl-carousel customer-comment">
		<div class="item" *ngFor="let item of comments">

			<div>
				<img [src]="item[0].img" alt="">
				<div class="text">
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;{{ item[0].content }}&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
					</p>
					<div class="text-right">
						<h3><strong>{{ item[0].full_name }}</strong> - <i>{{ item[0].place }}</i></h3>
					</div>
				</div>
			</div>
			<div *ngIf="item[1]">
				<img [src]="item[1].img" alt="">
				<div class="text">
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;{{ item[1].content }}&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
					</p>
					<div class="text-right">
						<h3><strong>{{ item[1].full_name }}</strong> - <i>{{ item[1].place }}</i></h3>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="item">
			<div>
				<img src="assets/img/bb.jpg" alt="">
				<div class="text">
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;Dịch vụ đặt mua vé xe trực tuyến tại VeXeRe.com thật tuyệt vời, tôi thấy thậm chí đặt chỗ mua vé máy bay còn không được chọn chỗ ngồi như vậy. Bây giờ tôi không còn phải đi lại xếp hàng mua vé tại bến xe nữa.&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
					</p>
					<div class="text-right">
						<h3><strong>Chị Hà Em</strong> - <i>Hải Phòng</i></h3>
					</div>
				</div>
			</div>
			<div>
				<img src="assets/img/avatar.jpg" alt="">
				<div class="text">
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;Dịch vụ đặt mua vé xe trực tuyến tại VeXeRe.com thật tuyệt vời, tôi thấy thậm chí đặt chỗ mua vé máy bay còn không được chọn chỗ ngồi như vậy. Bây giờ tôi không còn phải đi lại xếp hàng mua vé tại bến xe nữa.&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
					</p>
					<div class="text-right">
						<h3><strong>Chị Hà Anh Văn</strong> - <i>Hải Phòng</i></h3>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div>
				<img src="assets/img/avatar.jpg" alt="">
				<div class="text">
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;Dịch vụ đặt mua vé xe trực tuyến tại VeXeRe.com thật tuyệt vời, tôi thấy thậm chí đặt chỗ mua vé máy bay còn không được chọn chỗ ngồi như vậy. Bây giờ tôi không còn phải đi lại xếp hàng mua vé tại bến xe nữa.&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
					</p>
					<div class="text-right">
						<h3><strong>Chị Anh Anh Tú</strong> - <i>Tp.Hồ Chí Minh</i></h3>
					</div>
				</div>
			</div>
			<div>
				<img src="assets/img/bb.jpg" alt="">
				<div class="text">
					<p><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;Dịch vụ đặt mua vé xe trực tuyến tại VeXeRe.com thật tuyệt vời, tôi thấy thậm chí đặt chỗ mua vé máy bay còn không được chọn chỗ ngồi như vậy. Bây giờ tôi không còn phải đi lại xếp hàng mua vé tại bến xe nữa.&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
					</p>
					<div class="text-right">
						<h3><strong>Anh Hà Văn Thành</strong> - <i>Hải Dương</i></h3>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>