<div style="float:left; width:100%;" id="post-32" class="post-32 page type-page status-publish hentry">
    <section class="tour-details">
        <div class="container clearfix">
            <div class="tour-detals-inner">
                <div class="tour-details-l">
                    <div class="tour-details-l-inner">
                        <div class="tour-info">
                            <h1 class="title">{{ Ticket.name }}</h1>
                            <p class="line"></p>
                            <div class="desc">{{ Ticket.description }}</div>
                            <div class="price">
                                <del><span class="amount">{{ Ticket.adult_fare | number }} VNĐ</span></del>
                                <ins><span class="amount">{{ Ticket.children_fare | number }} VNĐ</span></ins>
                            </div>
                            <!--<div class="sh-cart">-->
                            <!--<input class="form-control" type="text" value="1">&nbsp;-->
                            <!--<button class="btn" type="button">ADD TO CART</button>-->
                            <!--</div>-->
                        </div>
                        <div class="tour-content">
                            <div class="tour-photos">
                                <h2 class="content-title">VIEW THE PHOTOS</h2>
                                <p class="s-line"></p>
                                <div class="content-inner">
                                    <!--<ul class="photos-tab clearfix">-->
                                    <!--<li>-->
                                    <!--<a class="active" href="#photos">TOUR GALLERY</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                    <!--<a href="#map">TOUR MAP</a>-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <div class="photos-wrapper">
                                        <div id="photos" class="item">
                                            <div id="sync1" class="owl-carousel">
                                                <div class="item" *ngFor="let album of Ticket.album">
                                                    <img src="{{imgPath + album.img}}" alt="">
                                                </div>
                                                
                                            </div>
                                            <div id="sync2" class="owl-carousel">
                                                <div class="item" *ngFor="let album of Ticket.album">
                                                    <img src="{{imgPath + album.img}}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div id="map" class="item">-->
                                        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.594877281655!2d106.65486751518642!3d10.842282960938542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a3c994361d%3A0x5514fcf08ad040d4!2zQ8O0bmcgdmnDqm4gVsSDbiBow7NhIEzDoG5nIEhvYQ!5e0!3m2!1svi!2s!4v1483457089115" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="tour-book">
                                <form action="" class="f-tour-view-price clearfix">
                                    <div class="field">
                                        <ng2-datepicker name="from_date" [options]="datepickerOptions" [(ngModel)]="filter_from_date" required></ng2-datepicker>
                                    </div>
                                    <div class="field">
                                        <div class="field-inner field-select-people">
                                            <div class="input-select-people clearfix">
                                                <div>
                                                    1 x Người lớn, 0 x Trẻ em
                                                </div>
                                                <div>
                                                    <i class="fa fa-user-plus"></i>
                                                </div>
                                            </div>
                                            <div class="tbl-select-people">
                                                <table>
                                                    <tr>
                                                        <td>Người lớn</td>
                                                        <td>
                                                            <a href="#" class="minus-people"><i class="fa fa-minus"></i></a>&nbsp;
                                                            <input type="text" class="input-quantity form-control" value="1">&nbsp;
                                                            <a href="#" class="add-people"><i class="fa fa-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trẻ em</td>
                                                        <td>
                                                            <a href="#" class="minus-people"><i class="fa fa-minus"></i></a>&nbsp;
                                                            <input type="text" class="input-quantity form-control" value="0">&nbsp;
                                                            <a href="#" class="add-people"><i class="fa fa-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="field-inner">
                                            <button type="button" class="btn btn-view-price"><i class="fa fa-check"></i> XEM GIÁ</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="tour-price-details">
                                    <div class="top">
                                        <table>
                                            <tr>
                                                <td>Giá tour</td>
                                                <td class="text-right">
                                                    <p>Tổng cộng</p>
                                                    2.000.000 <span>VNĐ</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="bottom clearfix">
                                        <div class="bottom-info">
                                            <div class="field clearfix">
                                                <div class="field-col">
                                                    <table>
                                                        <tr>
                                                            <td>Người lớn:</td>
                                                            <td class="text-right">{{ Ticket.adult_fare | number }} VNĐ</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <!-- <div class="field-col text-right">
                                                    2.000.000 VNĐ
                                                </div> -->
                                            </div>
                                            <div class="field clearfix">
                                                <div class="field-col">
                                                    <table>
                                                        <tr>
                                                            <td>Trẻ em :</td>
                                                            <td class="text-right">{{ Ticket.children_fare | number }} VNĐ</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <!-- <div class="field-col text-right">
                                                    0 VNĐ
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="bottom-button">
                                            <div>
                                                <button type="button" class="btn btn-shopping-cart"><i class="fa fa-shopping-cart"></i> Thên vào giỏ hàng</button>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-book-now"><i class="fa fa-check"></i> ĐẶT NGAY</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tour-desc">
                                <h2 class="content-title">ĐIỂM NỔI BẬT</h2>
                                <p class="s-line"></p>
                                <div class="content-inner">
                                    - Là công viên giải trí hiện đại và hấp dẫn nhất ở Singapore.
                                    <br/> - Xem những màn diễu hành của các nhân vật trong phim.
                                    <br/> - Được chụp hình với các nhân vật trong phim mà bạn yêu thích.
                                    <br/> - Thời hạn sử dụng vé từ 30 ngày đến 6 tháng.
                                    <br/> - Vé eticket chính hãng, vào thẳng cổng, không phải xếp hàng đổi vé.
                                    <br/> - Trải nghiệm cảm giác như thật chiến đấu trong các phim Hollywood nổi tiếng Tranformer, lạc vào công viên - khủng long Jurassic, đi tàu siêu tốc vào hầm mộ kim tự tháp…
                                    <br/>
                                    <br/> Quý khách vui lòng đọc toàn bộ trong các mục tab thông tin chi tiết dưới đây
                                </div>
                            </div>
                            <div class="tour-package">
                                <h2 class="content-title">THÔNG TIN CHI TIẾT</h2>
                                <p class="s-line"></p>
                                <div class="content-inner" [innerHTML]="Ticket.content">
                                </div>
                            </div>
                            <div class="tour-info">
                                <h2 class="content-title">THÔNG TIN QUAN TRỌNG</h2>
                                <p class="s-line"></p>
                                <div class="content-inner">
                                    <tabset class="info-tab clearfix">
                                        <tab>
                                            <span *tabHeading>
	                                        <a class="title white"><i class=""></i> VÉ BAO GỒM</a>
	                                    </span>
                                            <div id="include" class="item">
                                                {{ Ticket.include}}
                                            </div>
                                        </tab>
                                        <tab>
                                            <span *tabHeading>
	                                        <a class="title white"><i class=""></i> VÉ KHÔNG BAO GỒM</a>
	                                    </span>
                                            <div id="note" class="item">
                                                {{ Ticket.not_include }}
                                            </div>
                                        </tab>
                                        <tab>
                                            <span *tabHeading>
	                                        <a class="title white"><i class=""></i> LƯU Ý</a>
	                                    </span>
                                            <div id="intro" class="item">
                                                {{ Ticket.notice }}
                                            </div>
                                        </tab>
                                        <tab>
                                            <span *tabHeading>
	                                        <a class="title white"><i class=""></i> HƯỚNG DẪN</a>
	                                    </span>
                                            <div id="not-include" class="item">
                                                {{ Ticket.support }}
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                                <!-- <div class="content-inner">
                                    <ul class="info-tab clearfix">
                                        <li>
                                            <a class="active" href="#include">VÉ BAO GỒM</a>
                                        </li>
                                        <li>
                                            <a href="#not-include">VÉ KHÔNG BAO GỒM</a>
                                        </li>
                                        <li>
                                            <a href="#note">LƯU Ý</a>
                                        </li>
                                        <li>
                                            <a href="#intro">HƯỚNG DẪN</a>
                                        </li>
                                    </ul>
                                    <div class="info-wrapper">
                                        <div id="include" class="item">
                                            - Vé tham quan nguyên khu Universal Studio trong 1 ngày.
                                        </div>
                                        <div id="not-include" class="item">
                                            - Kể từ năm 2016, vé không còn voucher ăn 5$ và quà tặng 5$.
                                            <br/> - Vé express (loại vé được hàng nhanh trong mỗi trò chơi).
                                        </div>
                                        <div id="note" class="item">
                                            - Trẻ em từ 1-3 tuổi: miễn phí
                                            <br/> - Trẻ em từ 4-12: tính vé trẻ em.
                                            <br/> - Vé có thời hạn 1 tháng kể từ ngày đặt vé. Trong hạn này bạn đi ngày nào cũng được.
                                        </div>
                                        <div id="intro" class="item">
                                            <ul>
                                                <li>
                                                    <h3 class="sub-title">Hướng dẫn đi lại</h3>
                                                    <div>
                                                        Đi đến bảo tàng tượng sáp Madame Tussauds
                                                        <br/> - <strong>Đi bộ:</strong> Đi tàu điện ngầm đến ga Harbour Front. Từ sảnhVivoCity Shopping Mall bạn có thể vào Sentosa Boardwalk. Khoảng 30 phút đi bộ, bạn hãy theo những dấu hiệu hướng tới Madame Tussauds Singapore ở Imbiah Lookout.
                                                        <br/> - <strong>Đi xe hơi:</strong> Vào Sentosa qua Sentosa Gateway và đậu xe tại bãi xe Imbiah Lookout. Bạn chỉ cần đi theo các dấu hiệu chỉ tới Imbiah Lookout. Madame Tussauds Singapore ở gần đó.
                                                        <br/> - <strong>Bằng Sentosa Express:</strong> Đi đến tầng 3 của trung tâm mua sắm VivoCity, có Sentosa Express đến Đảo Sentosa. Xuống xe tại trạm Merlion, sau đó đi qua Merlion Plaza bằng thang cuốn. Sau 4 chuyến thang cuốn, bạn sẽ thấy thảm đỏ của Madame Tussauds Singapore.
                                                        <br/> Bảo tàng lịch sử Image of Singapore nằm bên cạnh bảo tàng tượng sáp Madame Tussauds
                                                    </div>
                                                </li>
                                                <li>
                                                    <h3 class="sub-title">Thời gian tham quan</h3>
                                                    <div>
                                                        <strong>Bảo tàng tượng sáp:</strong>
                                                        <br/> - Các ngày trong tuần: <strong>10am – 7:30pm</strong>
                                                        <br/> - Thứ bảy, chủ nhật, và các ngày lễ: <strong>10am – 9pm</strong>
                                                        <br/>
                                                        <br/>
                                                        <strong>Bảo tàng lịch sử Image of Singapore:</strong>
                                                        <br/> - Các ngày trong tuần: 10am – 6pm
                                                        <br/> - Thứ bảy, chủ nhật, và các ngày lễ: <strong>10am – 7:30pm</strong>
                                                        <br/>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h3 class="sub-title">Cách sử dụng voucher</h3>
                                                    <div>
                                                        - Voucher được gửi tới email của bạn trong vòng 48 tiếng. Đây là bằng chứng thanh toán của bạn.
                                                        <br/> - In voucher và vào thẳng quầy soát vé để nhân viên scan mã vé trên voucher.
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="tour-photos">
                                <h2 class="content-title">MAPS</h2>
                                <p class="s-line"></p>
                                <div class="content-inner">
                                    <div id="map" class="item">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.594877281655!2d106.65486751518642!3d10.842282960938542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a3c994361d%3A0x5514fcf08ad040d4!2zQ8O0bmcgdmnDqm4gVsSDbiBow7NhIEzDoG5nIEhvYQ!5e0!3m2!1svi!2s!4v1483457089115" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tour-details-r">
                    <div class="tour-details-r-inner">
                        <h3>Ưu đãi phút chót</h3>
                        <div>
                            <ul>
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="img/bb.jpg" alt="">
                                        <div>
                                            <p>Combo vé bảo tàng tượng sáp Madame Tussauds và bảo tàng lịch sử Image of Singapore</p>
                                            <span>1.200.000 VNĐ</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="img/bb.jpg" alt="">
                                        <div>
                                            <p>Combo vé bảo tàng tượng sáp Madame Tussauds và bảo tàng lịch sử Image of Singapore</p>
                                            <span>1.200.000 VNĐ</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="img/bb.jpg" alt="">
                                        <div>
                                            <p>Combo vé bảo tàng tượng sáp Madame Tussauds và bảo tàng lịch sử Image of Singapore</p>
                                            <span>1.200.000 VNĐ</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="img/bb.jpg" alt="">
                                        <div>
                                            <p>Combo vé bảo tàng tượng sáp Madame Tussauds và bảo tàng lịch sử Image of Singapore</p>
                                            <span>1.200.000 VNĐ</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="img/bb.jpg" alt="">
                                        <div>
                                            <p>Combo vé bảo tàng tượng sáp Madame Tussauds và bảo tàng lịch sử Image of Singapore</p>
                                            <span>1.200.000 VNĐ</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prev-page">
                        <button type="button" class="btn"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Quay về trang kết quả</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="skyline hidden-xs hidden-sm">
        <!-- <script src="js/prefixfree.min.js"></script> -->
        <div class="skyline-city"></div>
        <div class="bus-img">
            <img style="opacity: 0.3;filter: alpha(opacity=30);" src="assets/img/banh-xe.gif">
        </div>
        <div class="plane-img">
            <img src="assets/img/plane.png" alt="" style="width: 250px;">
        </div>
    </div>
</div>
<!--#post-->
