<!--#post-->
<div style="float:left; width:100%;" id="post-32" class="post-32 page type-page status-publish hentry">
    <section class="contact">
        <div class="container clearfix">
            <div class="contact-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-title clearfix">
                            <h1>Liên hệ :</h1>
                            <p>Cám ơn bạn đã ghé thăm website của chúng tôi. Nếu bạn muốn nhận được thông tin từ chúng tôi dễ dàng, hãy điền vào form dưới đây. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 box-left-contact">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off" class="form-contact">
                            <div class="field">
                                <label>Họ Tên <span style="color: red">*</span></label>
                                <div>
                                    <input type="text" name="name" [(ngModel)]="contact.name" #name required>
                                </div>
                            </div>
                            <div class="field">
                                <label>Email <span style="color: red">*</span></label>
                                <div>
                                    <input type="text" name="email" [(ngModel)]="contact.email" #email required>
                                </div>
                            </div>
                            <div class="field">
                                <label>Điện Thoại <span style="color: red">*</span></label>
                                <div>
                                    <input type="text" name="phone" [(ngModel)]="contact.phone" #phone required>
                                </div>
                            </div>
                            <div class="field">
                                <label>Tiêu Đề</label>
                                <div>
                                    <input type="text" name="title" [(ngModel)]="contact.title">
                                </div>
                            </div>
                            <div class="field">
                                <label>Nội Dung <span style="color: red">*</span></label>
                                <div>
                                    <textarea name="comment" [(ngModel)]="contact.comment" required></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <button class="btn-contact" type="submit">Gửi</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 col-xs-12 box-right-contact">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.759035521334!2d106.68617213460668!3d10.777591877131023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3542cf515d%3A0xedbfc9816ceb06f9!2sBAL%C3%94+Travel+cafe!5e0!3m2!1sen!2s!4v1478072457801" width="100%" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row box-info-contact">
                    <div class="col-sm-4 col-xs-12">
                        <p><i class="fa fa-map-marker fa-5x"></i></p>
                        <p class="title">địa chỉ</p>
                        <p class="info"><span>06 Tân Lập 1, phường Thạch Thang, quận Hải Châu, Đà Nẵng</span></p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone fa-5x"></i></p>
                        <p class="title">điện thoại</p>
                        <p class="info">(0511) 38 88 408</p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o fa-5x"></i></p>
                        <p class="title">email</p>
                        <p class="info">balotravelco@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="skyline hidden-xs hidden-sm">
        <!-- <script src="js/prefixfree.min.js"></script> -->
        <div class="skyline-city"></div>
        <div class="bus-img">
            <img style="opacity: 0.3;filter: alpha(opacity=30);" src="assets/img/banh-xe.gif">
        </div>
        <div class="plane-img">
            <img src="assets/img/plane.png" alt="" style="width: 250px;">
        </div>
    </div>
    
</div>
<!--#post-->
