<div style="float:left; width:100%;" id="post-32" class="post-32 page type-page status-publish hentry">
    <section class="tours">
        <div class="container clearfix">
            <div class="tours-inner clearfix">
                <div class="tours-filter">
                    <div class="tours-filter-inner">
                        <!-- <form (ngSubmit)="onSearch()" #fSearch="ngForm"> -->
                        <div class="results-founded">
                            Bộ lọc
                        </div>
                        <div class="g-field">
                            <div class="field mb15">
                                <ng-select
                                    name="category_ticket_id"
                                    [ngModel]="clean_url"
                                    [options]="categoryTicketOptions"
                                    (selected)="onSelected($event, 1)"
                                    [allowClear]="true"
                                    placeholder="Điểm đi">
                                </ng-select>
                            </div>
                            <div class="field mb15">
                                <ng-select
                                    name="category_ticket_id"
                                    [ngModel]="clean_url"
                                    [options]="subCategoryTicketOptions"
                                    (selected)="onSelected($event, 2)"
                                    [allowClear]="true"
                                    placeholder="Điểm đi">
                                </ng-select>
                            </div>
                            <div class="field mb30">
                                <div class="slider-price clearfix">
                                    <div class="clearfix">
                                        <span id="min-price"></span>
                                        <span id="max-price"></span>
                                    </div>
                                    <div id="slider-price"></div>
                                </div>
                            </div>
                            <div class="field mb5">
                                <button (click)="onSearch()" type="submit" class="btn btn-search-tour"><i class="icon-search-2"></i>Tìm kiếm</button>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                </div>
                <div class="tours-main">
                    <div class="tours-sort clearfix">
                        <div class="tours-sort-l">
                            <ul class="clearfix">
                                <li>
                                    <label>SORT BY</label>
                                    <select name="column" [(ngModel)]="sort.column" (change)="onSort('column', $event.target.value)">
                                        <option value="name">Name</option>
                                        <option value="price">Price</option>
                                    </select>
                                </li>
                                <li>|</li>
                                <li>
                                    <label>ORDER</label>
                                    <select name="direction" [(ngModel)]="sort.direction" (change)="onSort('direction', $event.target.value)">
                                        <option value="asc">A/Z - 1/3</option>
                                        <option value="desc">Z/A - 1/3</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="tours-sort-r">
                            <ul class="clearfix">
                                <li>
                                    <a [ngClass]="{ 'active': view == 'list' }" (click)="onChangeView('list')" title="List View">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a [ngClass]="{ 'active': view == 'grid' }" (click)="onChangeView('grid')" title="Grid View">
                                        <i class="fa fa-th" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="preloader"><img src="assets/img/loading-x-1.gif"></div>
                    <div class="tours-list clearfix" [ngClass]="{ 'list-view': view == 'list' }">
                        <ng-template [ngIf]="!listItem.length">
                            <div>Khong tim thay du lieu</div>
                        </ng-template>
                        <ng-template [ngIf]="listItem.length">
                            <div class="item"
                                *ngFor="let item of listItem | paginate: {
                                    itemsPerPage: pageSize,
                                    currentPage: page,
                                    totalItems: totalRecords
                                }"
                            >
                                <div class="item-inner">
                                    <a [routerLink]="['/detail-ticket', item.clean_url]"><img *ngIf="item.img" [src]="item.img" alt="{{ item.name }}"></a>
                                    <div>
                                        <h3>
                                            <a [routerLink]="['/detail-ticket', item.clean_url]">{{ item.name }}</a>
                                        </h3>
                                        <p>
                                            {{ item.description }}
                                        </p>
                                        <div class="item-book clearfix">
                                            <div class="price">{{ item.adult_fare | number }} <span>VNĐ</span></div>
                                            <div class="s-cart">
                                                <input type="number" [(ngModel)]="item.order" min="1">
                                                <a title="ADD TO CART" class="add-to-cart pointer" (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                        </ng-template>
                    </div>
                    <!-- <div class="pagi">
                        <ul class="clearfix">
                            <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class="skyline hidden-xs hidden-sm">
        <!-- <script src="js/prefixfree.min.js"></script> -->
        <div class="skyline-city"></div>
        <div class="bus-img">
            <img style="opacity: 0.3;filter: alpha(opacity=30);" src="assets/img/banh-xe.gif">
        </div>
        <div class="plane-img">
            <img src="assets/img/plane.png" alt="" style="width: 250px;">
        </div>
    </div>
</div>
